body{
    background-color: #f4f4f4;
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
}

.navbar-left h1 {
    margin: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.user-container {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 25px;
}

.user-pic {
    width: 30px;
    height: 30px;
}

.user-name {
    margin-left: 10px;
}
.logout-button {
    padding: 8px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #d32f2f;
}

.back-btn {
    margin: 25px 15px 15px 25px;
    background-color: blue;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}

.sign-form-container {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-form {
    position: relative;
    max-width: 430px;
    z-index: 1;
    background: #FFFFFF;
    width: 100%;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.sign-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 17px;
}

.input-group {
    margin-bottom: 1em;
}

.input-group input {
    padding: 0.5em;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
    display: block;
}
